h1{
	text-align: center;
	font-family: cursive;
	font-size: 175%;
}

section{
	font-size: 115%;
	background-color: gray;
	border: 1px solid;
	height: 340px;
	margin: 10px 0 10px 10px;
	padding: 4px;
}

h4{
	text-align: right;
	margin: 10px 5px 10px 60% ;
	border: 1px solid ;
	padding: 5px;
}
#h1{
background-color: blue;
}
#h2{
background-color: purple;
}
#h3{
background-color: green;
}

@media (min-width: 992px){
section{
	width: 30%;
	float: left;
}
#sec1{
margin-left: 2%;
}
#sec3{
	margin-right: 2%;
}
}

@media (min-width: 768px) and (max-width: 991px){
section{
	width: 47%;
	float: left;
}
#sec3{
	width: 96%;
	margin-right: 2%;
}
}
@media (max-width: 767px){
section{
	width: 90%;
	float: left;
	margin: 0 5% 10px 5%;
}
}